<popup #popup5 (confirmClick)="login()">

  <form class="form-horizontal" name="incomeTaxForm" (change)="changeFormState($event.target)">
    <div class="form-group">
      <label class="col-sm-3 control-label">Periods</label>
      <div class="col-sm-7">
        <select id="periods" name="periods" class="form-control" [(ngModel)] = "incomeTax.period">
          <option *ngFor="let period of periods" [value]="period.value">{{period.display}}
          </option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label">Profit From Goods</label>
      <div class="col-sm-7">
        <input type="number" class="form-control" id="profitFromGoods" name="profitFromGoods"
               [(ngModel)]="incomeTax.profitFromGoods">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label">Profit Other</label>
      <div class="col-sm-7">
        <input type="number" class="form-control" id="profitOther" name="profitOther"
               [(ngModel)]="incomeTax.profitOther">
      </div>
    </div>

    <div class="form-group">
      <div class="checkbox">
        <div class="col-sm-3 control-label"></div>
        <div class="col-sm-7">
          <label>
            <input type="checkbox" id="hasWork" name="hasWork" [(ngModel)]="incomeTax.hasWork">
            Working</label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="checkbox">
        <div class="col-sm-3 control-label"></div>
        <div class="col-sm-7">
          <label>
            <input type="checkbox" id="hasBenefits" name="hasBenefits" [(ngModel)]="incomeTax.hasBenefits">
            Benefits</label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="checkbox">
        <div class="col-sm-3 control-label"></div>
        <div class="col-sm-7">
          <label>
            <input type="checkbox" id="hasFamilyBenefits" name="hasFamilyBenefits"
                   [(ngModel)]="incomeTax.hasFamilyBenefits">
            Family hasBenefits</label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label">Number Of Minors</label>
      <div class="col-sm-7">
        <input type="number" class="form-control" id="numberOfMinors" name="numberOfMinors"
               [(ngModel)]="incomeTax.numberOfMinors">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label">Disabled Children</label>
      <div class="col-sm-7">
        <input type="number" class="form-control" id="disabledChildren" name="disabledChildren"
               [(ngModel)]="incomeTax.disabledChildren">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label">Dependents</label>
      <div class="col-sm-7">
        <input type="number" class="form-control" id="dependents" name="dependents" [(ngModel)]="incomeTax.dependents">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label">Insurance Cost</label>
      <div class="col-sm-7">
        <input type="number" class="form-control" id="insuranceCost" name="insuranceCost"
               [(ngModel)]="incomeTax.insuranceCost">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label">Educational Cost</label>
      <div class="col-sm-7">
        <input type="number" class="form-control" id="educationalCost" name="educationalCost"
               [(ngModel)]="incomeTax.educationalCost">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label">Housing Cost</label>
      <div class="col-sm-7">
        <input type="number" class="form-control" id="housingCost" name="housingCost"
               [(ngModel)]="incomeTax.housingCost">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label">Business Cost</label>
      <div class="col-sm-7">
        <input type="number" class="form-control" id="businessCost" name="businessCost"
               [(ngModel)]="incomeTax.businessCost">
      </div>
    </div>

    <div class="form-group">
      <div class="form-group text-right">
        <div class="col-sm-offset-3 col-sm-7">
          <label>
             Total: {{incomeTaxTotal}}
          </label>
        </div>
      </div>
    </div>
  </form>
</popup>

<br><br>
<div class="text-center">
  <div class="row">
    <button class="btn btn-mbe-normal sp" (click)="showPopup5()" style="background-color: rgb(160, 222, 79);">
      Calculate</button>
  </div>
</div>



