<div class="margin-bottom-5"></div>
<nav class="navbar navbar-default" style="background-color: rgb(160, 222, 79);">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
        <li [routerLinkActive]="['active']"><a [routerLink]="['/home']">{{ 'MENU.HOME' | translate }}</a></li>
        <li [routerLinkActive]="['active']"><a [routerLink]="['/incomeTaxTable']">{{ 'MENU.INCOME_TAX' | translate }}</a></li>
        <li><select id="language" name="language" class="form-control col-sm-7" (change) = "changeLanguage($event.target.value)">
          <option *ngFor="let language of languages" [value]="language.value">{{language.display}}
          </option>
        </select></li>
      </ul>
    </div><!-- /.navbar-collapse -->

  </div><!-- /.container-fluid -->
</nav>
