 <div style="margin: auto; max-width: 1200px; margin-bottom: 50px; font-size: 12px">
    <data-table id="tax-grid"
                headerTitle="Income tax"
                [items]="incomeTaxes"
    >
      <data-table-column
        [property]="'id'"
        [header]="'Id'"
        [sortable]="true"
        [resizable]="true">
      </data-table-column>
      <data-table-column
        [property]="'period'"
        [header]="'Period'"
        [sortable]="true"
        [resizable]="true">
      </data-table-column>
      <data-table-column
        [property]="'profitFromGoods'"
        [header]="'Profit From Goods'"
        [sortable]="true"
        [resizable]="true">
      </data-table-column>
      <data-table-column
        [property]="'profitOther'"
        [header]="'Profit Other'"
        [sortable]="true"
        [resizable]="true">
      </data-table-column>
     <data-table-column
        [property]="'working'"
        [header]="'Working'"
        [sortable]="true"
        [resizable]="true">
      </data-table-column>
      <data-table-column
        [property]="'benefits'"
        [header]="'Benefits'"
        [sortable]="true"
        [resizable]="true">
      </data-table-column>
      <data-table-column
        [property]="'familyBenefits'"
        [header]="'Family benefits'"
        [sortable]="true"
        [resizable]="true">
      </data-table-column>
      <data-table-column
        [property]="'numberOfMinors'"
        [header]="'Number Of Minors'"
        [sortable]="true"
        [resizable]="true">
      </data-table-column>
      <data-table-column
        [property]="'disabledChildren'"
        [header]="'Disabled Children'"
        [sortable]="true"
        [resizable]="true">
      </data-table-column>
      <data-table-column
        [property]="'dependents'"
        [header]="'Dependents'"
        [sortable]="true"
        [resizable]="true">
      </data-table-column>
      <data-table-column
        [property]="'insuranceCost'"
        [header]="'Insurance Cost'"
        [sortable]="true"
        [resizable]="true">
      </data-table-column>
      <data-table-column
        [property]="'educationalCost'"
        [header]="'Educational Cost'"
        [sortable]="true"
        [resizable]="true">
      </data-table-column>
      <data-table-column
        [property]="'housingCost'"
        [header]="'Housing Cost'"
        [sortable]="true"
        [resizable]="true">
      </data-table-column>
    </data-table>
  </div>

