:host /deep/ .data-table-row {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.income-tax-table-style{
  width: 100px;
  color: #00a000;
  background-color: #ccffcb;
}
.form-control{
  background-color: rgba(160, 222, 79, 0.50);
}

p{
  color: #00a000;
}


@media(max-width : 768px) {
  .collapsing{
    height: 380px !important;
  }
  .well{
    height: 380px !important;

  }
}
.p-main-text{
  color: white;
  font-weight: bold;
}
